<!DOCTYPE html>
<!--
				_______________           ______              
				___  ____/__  /______________  /_____________ 
				__  /_   __  /_  _ \_  ___/_  //_/  _ \_  __ \
				_  __/   _  / /  __/  /   _  ,<  /  __/  / / /
				/_/      /_/  \___//_/    /_/|_| \___//_/ /_/                                

-->

<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en">
 <!--<![endif]-->
 <head> 
  <meta charset="utf-8" /> 
  <title>Flerken | Open-source Obfuscation Command Detection Tool</title>
  <meta name="description" content="Flerken" />
  <meta name="author" content="Yao Zhang & Zhiyang Zeng" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" /> 
  <meta name="X-CSRFToken" content="{{ csrf_token() }}"> 
  <link rel="shortcut icon" href="/static/images/logo.png">
  <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/static/css/detection/bootstrap.min-3.5.css" /> 
  <link rel="stylesheet" href="/static/css/detection/oneui.min-3.5.css" /> 
  <link rel="stylesheet" href="/static/css/detection/main.css" /> 
 </head> 
 <body>
    <div id="page-container" class="header-navbar-fixed">
        <header id="header-navbar" class="content-mini content-mini-full">
                <span class="nav-on"><i></i><i></i><i></i></span>
                <ul class="nav-header pull-right">      
                        <li><a class="selected header-link" target="_blank" href="/doc/Flerken_v1.0.2_Specification_ Document.pdf"><i class="fa fa-book"></i>Documentation</a></li>
                        <li><a href="https://github.com/We5ter/Flerken" target="_blank" class="header-link"><i class="fa fa-github"></i>Fork me on Github</a></li>
                        <li><a class="selected header-link" href="/"><i class="fa fa-laptop"></i>Landing Page</a></li> 
                </ul>
                <ul class="nav-header pull-left">
                    <li><a href="/detection"><img src="/static/images/logo.png" width="45"></a></li>
                    <li><a href="/detection"><h2>Flerken</h2></a></li>
                </ul>
        </header>
        <main id="main-container">
            <div class="content content-narrow">
                <div class="row col-md-8 col-md-offset-2">
                        <h1>Flerken Engine<sup>Beta</sup></h1>
                      <div class="block detection">
                        <div class="block-header">
                            <h3 class="block-title">Input your command here</h3>
                        </div>
                        <div class="block-content block-content-full">
                            <div class="note-editor">
                            <div class="note-dropzone">  
                                <div class="note-dropzone-message">
                                </div>
                            </div>
                            <div class="note-editing-area">
                                <div class="note-handle">
                                    <div class="note-control-selection" style="display: none;">
                                        <div class="note-control-selection-bg"></div>
                                        <div class="note-control-holder note-control-nw"></div>
                                        <div class="note-control-holder note-control-ne"></div>
                                        <div class="note-control-holder note-control-sw"></div>
                                        <div class="note-control-sizing note-control-se"></div>
                                        <div class="note-control-selection-info"></div>
                                    </div>
                                </div>
                                    <div class="note-editable" contenteditable="true" role="textbox" aria-multiline="true"></div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-groups block-content block-content-mini block-content-full">
                          <div class="row">
                                <div class="form-material col-md-2 pull-left">
                                    <label for="material-select">Platform</label>
                                    <select class="form-control" id="platform-select" name="platform-select" size="1">
                                        <option value="not_sure">not sure</option>
                                        <option value="windows">windows</option>
                                        <option value="linux">linux</option>
                                    </select>
                                        </div>
                                <div class="form-material action col-md-4 pull-right">
                                        <button class="btn btn-minw btn-square btn-default clear" type="button">Clear</button>
                                        <button class="btn btn-minw btn-square btn-default detect" data-animation-class="bounceOut" type="button">Detect</button>
                                </div>
                          </div>
                        </div>
                      </div>
                      <img src="/static/images/loading.svg" class="loading" style="display: none">
                      <div class="block result" style="display: none"> 
                            <div class="block-header"> 
                             <h3 class="block-title">Your command detection result</h3> 
                            </div> 
                            <div class="block-content"> 
                             <div class="pull-r-l"> 
                              <table class="table table-borderless table-striped table-vcenter remove-margin-b"> 
                               <tbody> 
                                <tr> 
                                    <td class="text-right" style="width: 45%"> <strong>Obfuscated</strong> </td>  
                                    <td class="text-left obfuscated">  </td>
                                </tr> 
                                <tr> 
                                    <td class="text-right" style="width: 45%"> <strong>Reason</strong> </td>  
                                    <td class="text-left reason">  </td> 
                                </tr> 
                                <tr> 
                                    <td class="text-right" style="width: 45%"> <strong>Likely Platform</strong> </td>  
                                    <td class="text-left likely_platform">  </td> 
                                </tr> 
                                <tr> 
                                    <td class="text-right" style="width: 45%"> <strong>Hash</strong> </td>  
                                    <td class="text-left hash">  </td> 
                                </tr> 
                                <tr> 
                                    <td class="text-right" style="width: 45%"> <strong>Command</strong> </td>  
                                    <td class="text-left cmd">  </td> 
                                </tr> 
                                 <tr> 
                                    <td class="text-right" style="width: 45%"> <strong>Measure Time</strong> </td>  
                                    <td class="text-left measure_time">  </td> 
                                </tr> 
                               </tbody> 
                              </table> 
                             </div> 
                            </div> 
                            <div class="block-content block-content-mini block-content-full bg-gray-lighter text-muted text-center font-w600">
                              Powered by Flerken Engine<sup>Beta</sup> 
                            </div> 
                           </div>
                     
               
            </div>
        </div>
        </main>
        <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
            <div class="pull-right">
                Proudly created by <a class="font-w600" href="https://www.researchgate.net/profile/Yao_Zhang80" target="_blank">Yao Zhang</a> & <a class="font-w600" href="https://lightrains.org" target="_blank">Zhiyang Zeng</a>
            </div>
            <div class="pull-left">
                    <span class="">Current Version - 1.0.2</span>
            </div>
        </footer>
    </div>
<script src="/static/js/detection/jquery.min.js"></script>
<script src="/static/js/detection/oneui.min-1.1.js"></script>
<script src="/static/js/detection/bootstrap-notify.min.js"></script>
<script>$(function(){App.initHelpers('notify');});</script>
<script src="/static/js/detection/main.js"></script>
 </body>
</html>
