<!DOCTYPE html>
<!--

				_______________           ______              
				___  ____/__  /______________  /_____________ 
				__  /_   __  /_  _ \_  ___/_  //_/  _ \_  __ \
				_  __/   _  / /  __/  /   _  ,<  /  __/  / / /
				/_/      /_/  \___//_/    /_/|_| \___//_/ /_/                                

-->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<meta name="author" content="Yao Zhang & Zhiyang Zeng">
		<meta name="description" content="Flerken">
		<meta name="keywords" content="">
		<title>Flerken | Open-source Obfuscation Command Detection Tool</title>
		<link rel="shortcut icon" href="/static/images/logo.png">
		<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
		<link rel="stylesheet" href="/static/css/landing/swiper.css">
		<link rel="stylesheet" href="/static/css/landing/style.css">
		<link href="/static/css/landing/main.css" rel="stylesheet"> 
	</head>
		<body>
			<header class="header header--sticky">
				<div class="header__content header__content--fix-width">
					<div class="header__logo-img"><img src="/static/images/logo.png" alt="Flerken"></div>
					<div class="header__logo-title">Flerken</div> 
					<nav class="header__menu sticky"><div class="menu-button"></div>                                                                   
						<ul>
							<li><a class="header-link" target="_blank" href="/doc/Flerken_v1.0.2_Specification_ Document.pdf"><i class="fa fa-book"></i>Documentation</a></li>
							<li><a href="https://github.com/We5ter/Flerken" target="_blank" class="header-link"><i class="fa fa-github"></i>Fork me on Github</a></li>
						</ul>
					</nav>
				</div>		
			</header>

			<!-- Section -- intro -->
			<section class="section section--intro" id="intro">
					<div class="section__content section__content--fix-width section__content--intro">
						<div class="intro">
								<div class="intro__content">
							<div class="intro__title"><span>^OBf'us'*</span>&nbsp;&nbsp;Tastes&nbsp;&nbsp;So&nbsp;&nbsp;Good</div>
							<div class="intro__subtitle">Open-Source Obfuscation Command Detection Tool</div>
							<div class="intro__buttons intro__buttons--centered">
								<a href="/detection" class="btn btn--black-bg">TRY DEMO</a>
							</div>
								</div>	
						</div>
					</div>
			</section>
			
			<!-- Section -- intro animation -->
			<section class="section section--intro-animation">
					<div class="section__content section__content--fix-width">
						<div class="intro-animation" data-paroller-factor="0.4" data-paroller-type="foreground" data-paroller-direction="vertical" style="transform: translateY(23px); transition: transform 0s linear 0s; will-change: transform;">
							<div class="animation__play modal-toggle" data-openpopup="animation"><span></span></div>
							<img src="/static/images/landing/intro-animation3.jpg" alt="" title="">
						</div>
					</div>
					<svg class="svg-intro-animation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
						<path d="M0,70 Q50,50 100,70 L100,100 0,100 Z" fill="#f7f8f9"></path>
					</svg>
			</section>
			
			
			<!-- Section -- features -->
			<section class="section section--features" id="features">

					<div class="section__content section__content--fluid-width section__content--padding">
						<div class="grid grid--4col grid--features">
						
							
							<div class="grid__item">
								<h3 class="grid__title">Scalability</h3>
								<p class="grid__text">Flerken supports cross-platform obfuscation detection. Both Windows and Linux command line stings can be analyzed to check if there is any obfuscation.</p>
							</div>
			
							<div class="grid__item">
								<h3 class="grid__title">Platform Recognition</h3>
								<p class="grid__text">We provide a default setting if you lack of information about which platform the tested string belongs to. Flerken can automatically recognize the likely platform and present this information in the results.</p>
							</div>	
							<div class="grid__item">
								<h3 class="grid__title">Accuracy</h3>
								<p class="grid__text">Flerken is adequate to distinguish most Windows/Linux command obfuscations. The effectiveness of Flerken is evaluated via representative black/white command samples.</p>
							</div>

						</div>
					</div>

					<svg class="svg-features-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
						<path d="M0,100 Q50,50 100,100 L0,100 Z" fill="#fff"></path>
					</svg>
			</section>	

			<!-- Section -->
			<section class="section section--cta" id="cta">
					<div class="section__content section__content--fix-width section__content--padding">
									<h2 class="section__title section__title--centered section__title--cta">Getting Help</h2>
						<div class="section__description section__description--centered section__description--cta">
								If you have any question or feedbacks on Flerken. Please contact us via Github.
						</div>
						<div class="intro__buttons intro__buttons--centered">
						<a href="https://github.com/We5ter/Flerken/issues" target="_blank" class="btn btn--orange-bg">Report issues on Github</a>
						</div>
					</div>
			</section>

			
			<footer class="footer" id="footer">
					<div class="footer__content footer__content--fix-width footer__content--padding">					
						<div class="grid">						
							<div class="copyright">
								<p class="grid__text grid__text--copyright"> Proudly created by <a href="https://www.researchgate.net/profile/Yao_Zhang80" target="_blank">Yao Zhang</a> & <a href="https://lightrains.org" target="_blank">Zhiyang Zeng</a></p>
							</div>			
						</div>						
					</div>
			</footer>
			<section class="modal modal--animation">
					<div class="modal__overlay modal__overlay--toggle"></div>
						<div class="modal__wrapper modal__wrapper--image modal-transition">
							<div class="modal__body">
								<button class="modal__close modal__overlay--toggle"><span></span></button>
								<div class="modal__header">How it works?</div>
								
								<div class="modal__image">
									<img src="static/images/landing/intro-animation.gif" alt="" title=""/>
								</div>
							</div>
						</div>
			</section>    <!-- Modal for animation -->
		<script src="/static/js/landing/jquery-3.3.1.min.js"></script>
		<script src="/static/js/landing/jquery.paroller.min.js"></script>
		<script src="/static/js/landing/jquery.custom.js"></script>
		<script src="/static/js/landing/swiper.min.js"></script>
		<script src="/static/js/landing/menu.js"></script>

		</body>
</html>